{% if ENV.REQUIRE_LICENSE and not LicenseAvailable %}
    <h3 class="text-danger text-center">Your Distributor Requires an Installed License Key but none is installed</h3>
    <h4 class="text-danger text-center">Install one with the form below</h4>
{% endif %}

    <h1>Enter License</h1>
            <form method="post" action="" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="license">License File</label>
                            <input name="license" class="form-control" type="file" id="license">
                            <small id="license" class="form-text text-muted">The <code>license.key</code> File as received by your Distributor</small>
                        </div>
                    </div>
                    {% if not IssuerAvailable %}
                        <div class="col">
                            <div class="form-group">
                                <label for="issuer">Issuer File</label>
                                <input name="issuer" class="form-control" type="file" id="issuer">
                                <small id="issuer" class="form-text text-muted">The <code>issuer.pub</code> File as received by your Distributor</small>
                            </div>
                        </div>
                    {% endif %}
                    {% if LicenseAvailable %}
                        <div class="col">
                            <div class="form-group">
                                <label for="instance">Instance ID</label>
                                <input name="instance" class="form-control" type="text" id="instance">
                                <small id="instance" class="form-text text-muted">Execute <code>crisp-cli crisp -i</code> in your container</small>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="submit">Upload</button>
                </div>
            </form>