
<h1>Generate License</h1>

{% if not IssuerPrivateAvailable and not RequireLicense %}
    <h3 class="text-danger text-center">You don't have an Issuer Key Installed</h3>
    <h4 class="text-danger text-center">Generate one below</h4>
    <div class="d-grid gap-2 mt-4">
        <button id="generate_issuer" class="btn btn-primary">Generate</button>
    </div>
{% elseif RequireLicense %}
    <h3 class="text-danger text-center">Licenses cannot be generated on this instance</h3>
{% else %}

    <form id="genlic" method="post" action="">
        <input name="action" class="form-control" type="hidden" value="generate_license">
        <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="gen_instance">Instance ID</label>
                        <input name="instance" class="form-control" type="text" id="gen_instance" required>
                        <small id="gen_instance" class="form-text text-muted">Execute <code>crisp -i</code> in your container</small>
                    </div>
                </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="license_issuer">Issuer Name</label>
                        <input name="license_issuer" class="form-control" type="text" id="license_issuer" required>
                        <small id="license_issuer" class="form-text text-muted">e.g. Acme Inc.</small>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <div class="form-group">
                        <label for="license_domains">Domains (Optional)</label>
                        <input name="license_domains" class="form-control" type="text" id="license_domains">
                        <small id="license_domains" class="form-text text-muted">Comma separated list of domains, wildcards supported.</small>
                    </div>
                </div>
                <div class="col-6 mt-3">
                    <label for="license_expiry_date" class="form-label">Expiry Date</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" value="" name="license_has_expiry" aria-label="No Expiry Date" checked>
                        </div>
                        <input type="datetime-local" class="form-control" id="license_expiry_date" name="license_expiry_date" aria-label="Text input with checkbox">
                    </div>
                    <small id="license_expiry_date" class="form-text text-muted">Untick the Checkbox to not expire the License</small>
                </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="license_ocsp">OCSP Responder (Optional)</label>
                    <input name="license_ocsp" class="form-control" type="text" placeholder="https://example.com/ocsp?uuid={% verbatim %}{{uuid}}&instance={{instance}}{% endverbatim%}" id="license_ocsp">
                    <small id="license_ocsp" class="form-text text-muted">OCSP Responder URL for Revokation Requests, supports {% verbatim %}{{uuid}} and {{instance}}{% endverbatim%} variables</small>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="license_name">Licensed To:</label>
                    <input name="license_name" class="form-control" type="text" id="license_name" required>
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="license_whitelabel">Whitelabel (Optional):</label>
                    <input name="license_whitelabel" class="form-control" type="text" id="license_whitelabel">
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="license_data">Additional Data (Optional):</label>
                    <input name="license_data" class="form-control" type="text" id="license_data">
                </div>
            </div>
            <div class="col-6 mt-3">
                <div class="form-group">
                    <label for="license_instance">Lock to Instance ID (Optional):</label>
                    <input name="license_instance" class="form-control" type="text" id="license_instance">
                    <small id="license_instance" class="form-text text-muted">Locks the License to a specific CrispCMS Instance</small>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 mt-4">
            <button class="btn btn-primary" type="submit">Generate</button>
        </div>
    </form>
{% endif %}
